{% extends "base.html" %}

{% load payment_tag %}

{% block title %}
  {{ book.title }}
{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="../../../static/css/materialize.min.css">

  <style>
    .contributor:hover {
      text-decoration: underline;
    }
  </style>

  <div class="col s12 m7">
    <h2 class="header">{{ book.title }}</h2>
    <div class="card horizontal" id="card">
      <div class="card-image">
        <img src="{{ book.image.url }}" style="max-height: 576px;">
      </div>
      <div class="card-stacked">
        <div class="card-content" style="display: flex; flex-direction: column; justify-content:space-between;">
          <div >
            <p style="font-size: 20px;"><span style="font-size: 25px;">Description:</span> {{ book.description }}</p>
            {% if book.buyers.all %}
              <p style="font-size: 20px;">
                <span style="font-size: 25px;">Contributors:</span>
                {% for contributor in book.buyers.all %}
                  <a class="contributor" target="_blank" href="{{ contributor.get_absolute_url }}" >{{ contributor }};</a>
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <div style="display: flex;">
            
            {% if user.is_authenticated %}
              <a class="waves-effect waves-light btn-large getbook" onclick="showForm()" style="width: 150px;">Invest</a>
              <div style="display: none;" class="paymentForm">
                {% payment_form book.pk %}
              </div>
            {% endif %}
            <p style="font-size: 25px; align-self: flex-end; padding-bottom: 6px; margin-left: 5px;">Goal: {{ book.current_goal }}/{{ book.finish_goal }}RUB</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="box"></div>

  <script src="../../../static/js/materialize.min.js"></script>

  <script>
    let box = document.getElementById('box')
    let card = document.getElementById('card')
    const cardHeight = card.offsetHeight
    
    if (cardHeight < 576) {
      box.style.marginTop = `${596 - cardHeight}px`
    }

    const showForm = () => {
      document.querySelector('.paymentForm').style.display = 'block'
      document.querySelector('.getbook').style.display = 'none'
    }
  </script>
{% endblock content %}