<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/materialize.min.css">
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <title>{% block title %}BBTogether{% endblock title %}</title>
  <style>
    .body {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body>

  {% include "inc/nav.html" %}
  
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  {% include "inc/footer.html" %}
  <script src="../static/js/materialize.min.js"></script>
  <script src="../../static/js/materialize.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
</body>

</html>